#navbarNav {
    text-align: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cardTitle {
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cardOwl {
    border: 15px solid black;
}
#owlButton {
    background-color: lightskyblue;
    color: darkblue;
    border-color: darkblue;
    border-radius: 30px;
}
#mainParagraph {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.card {
    border: 5px solid black;
}