body {
    background-color: grey}
.page_container {
    margin-top: 75px;
}
.button-group, .button-group-color {
    text-align: center;
}
.button-group > button {
    font-size: 1.5em;
    background-color: darkred;
    padding:15px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-family:'Times New Roman', Times, serif;
}
#counterText {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    text-align: center;
}
#coloredBox {
    text-align: center;
    background-color: darkred;
    line-height: 150px;
    width: 200px;
    color: white;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
.button-group-color {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

#purpleButton {
    background-color: purple;
}
#blueButton {
    background-color: blue;
}
#greenButton {
    background-color: green;
}
#redButton {
    background-color: red;
}

