.body {
    background:white;
}
.page_container {
    margin-top: 75px;
}
.button-group, .button-group2 {
    padding: 5vw;
    text-align: center;
}
.button-group > button, .button-group2 > button {
    font-size: 1em;
    margin: 1px;
    padding: 10px;
    color: black;
    width: 100px;
}
#counterText {
    color: black;
    font-family: consolas, arial, sans-serif;
    font-size: 4em;
    text-align: center;
}
#coloredBox {
    text-align: center;
    background-color: black;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    height: 100px;
    color: white;
}
#pinkButton {
    background-color: pink;
}
#blueButton {
    background-color: blue;
}
#greenButton {
    background-color: green;
}
#redButton {
    background-color: red;
}